body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(https://www.publicdomainpictures.net/pictures/250000/velka/clean-blue-background-2.jpg);
}

p, li {
    font-size: 16px;
}
h{
    font-size: 18px;
}

#header{
    background-color: rgba(0, 255, 255, 0.548);
    padding: 15px;
    margin: -10px; 
    word-spacing: 20px;
    font-weight: 700;
    font-size: 20px;
        
}

#fotochris{
    border-radius: 200%;
    border: 5px solid black;
    width: 300px;
    float: right;
    margin-right: 100px;
}

#name{
    position: absolute;
    margin: 200px 100px;
}

#home{
    margin-left: 20px; 
}

#habilidades{
    margin-top: 200px;
}

#lista{
    margin-left: 50px;
    
}