body {
    margin: 0;
    padding: 0;
    background-color: rgb(185, 185, 185);
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
}

.header-nav {
    width: 45%;
    margin-left: 50%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.header-nav a {
    font-size: x-large;
    text-decoration: none;
    color: black;
}

.header-nav a:hover {
    color: rgb(190, 190, 190);
}

.header-logo {
    width: 7em;
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    margin: 0 3%;
}

.img-10x15 img {
    width: 100vh;
}

.intro {
    font-size: x-large;
}

.about-us{
    margin-top: 10%;
    text-align: center;
}

.coments {
    width: 50%;
    margin: auto;
}

.equipments{
    text-align: center;
}

/* .equipments img {
    width: 80%;
} */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    margin-top: 10%;
}

footer div {
    color: white;
    font-size: 16px;
    margin: 0 8%;
}

.footer-logo {
    width: 90%;
}